﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tracker</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker_app/content/tracker.css' %}" />
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="{% url 'stories' %}">Stories</a></li>
                <li><a class="nav-item nav-link" href="{% url 'developers' %}">Developers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item nav-link" href="/admin">Admin</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <!--messages-->
        {% if messages %}
        <div id="messages" class="container">
            <ul class="alert">
                {% for message in messages %}
                    <li class="alert alert-dismissable alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!--content-->
        {% block content %}{% endblock %}
    </div>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>