﻿{% extends 'tracker_app/base.html' %}

{% block content %}

<!--developer info-->
  <ul class="aligned_form">
    <li><label>Name:</label>{{developer.name}}&nbsp;</li>
    <li><label>Description:</label>{{developer.description}}&nbsp;</li>
    <li><label>Planned time:</label>{{developer.estimated_time}}&nbsp;</li>
    <li><label>Time spent:</label>{{developer.time_spent}}&nbsp;</li>
    <li><label>Active:</label>{{developer.active}}&nbsp;</li>
  </ul>

<!--task assigned to developer-->
  <div class="card">
    <div class="card-header" role="tab" id="assigned_tasks">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Assigned tasks:
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="assigned_tasks">
      <div class="card-body">
        {% include "tracker_app/sortable_list.html" with table=task_list header=task_header link_base="/story/"%}
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts%} {% include "tracker_app/sortable_list_script.html" %} {% endblock %}