﻿{% comment %}Add this to any page which uses sortable_list.html. Probably needs adjustment if more than one list is present.{% endcomment %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" integrity="sha384-Z9D45cp3elqajO+xEyjRTIK1Gr3eYsXiyCPIKNog1sIQzpo2fqFDqFdADGiJjzOv" crossorigin="anonymous"></script>

<script type="text/javascript" class="init">
$(document).ready(function(){
    $('#main_table').DataTable();
});
</script>
