﻿{% comment %}Sortable list, pass it a "header" as list, and "table" as list of lists. "link_base" and last member of each row of "table" are concatenated to form the href for that row.{% endcomment %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" integrity="sha384-1UXhfqyOyO+W+XsGhiIFwwD3hsaHRz2XDGMle3b8bXPH5+cMsXVShDoHA3AH/y/p" crossorigin="anonymous">

<table id="main_table" class="display table" width="100%" cellspacing="0">
    <thead>
        <tr>
            {% for o in header %}
            <th>{{ o }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            {% for o in row|slice:':-1' %}
            <th><a href="{{link_base}}{{row|last}}">{{ o }}</a></th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
