﻿{% extends 'tracker_app/base.html' %}

{% block content %}

<!--edit story-->
<form action="{% url 'edit_story' story.pk %}" method="post" class="aligned_form">
    {% csrf_token %}
    <ul>
      {{ story_form.as_ul }}
    </ul>
    <input type="submit" value="Save changes" />
</form>

<hr />

<!--add task-->
  <div class="card">
    <div class="card-header" role="tab" id="add_task">
      <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <div width=100%>
          <h5 class="mb-0">
            Add Task
          </h5>
        </div>
      </a>
    </div>

    <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="add_task">
      <div class="card-body">
        <form action="{% url 'add_task' story.pk %}" method="post" class="aligned_form">
            {% csrf_token %}
            <ul>
                {{ task_form.as_ul }}
            </ul>
            <input type="submit" value="Add Task" />
        </form>
      </div>
    </div>
  </div>

<!--collapsible task list-->
{% for task in task_list %}
  <div class="card">

    <!--task header/title-->
    <div class="card-header" role="tab" id="task{{task.task.pk}}">
        <a id="task-card-{{task.task.pk}}" data-toggle="collapse" href="#collapse{{task.task.pk}}" aria-expanded="false" aria-controls="collapse{{task.task.pk}}">
          <table width="100%"><tr>
              <td><h5 class="mb-0">{{ task.task.name }}</h5></td>
              <td width="300em"><h5 class="mb-0">{{ task.task.developer }}</h5></td>
              <td width="180em"><h5 class="mb-0">{{ task.task.estimated_time }}</h5></td>
              <td width="180em"><h5 class="mb-0">{{ task.task.time_spent }}</h5></td>
          </tr></table>
        </a>
    </div>

    <!--edit task form-->
    <div id="collapse{{task.task.pk}}" class="collapse hide {% ifequal task.task.pk task_pk %} show {% endifequal %}" role="tabpanel" aria-labelledby="task{{task.task.pk}}">
      <div class="card-body">
        <form action="{% url 'edit_task' story.pk task.task.pk %}" method="post" class="aligned_form">
            {% csrf_token %}
            <ul>
                {{ task.task_form.as_ul }}
            </ul>
            <input type="submit" value="Save task" />
        </form>

    <!--delete task button-->
          <div class="card">
            <div class="card-header delete-card" role="tab" id="task-delete{{task.task.pk}}">
                <a id="task-delete-card-{{task.task.pk}}" data-toggle="collapse" href="#collapse-delete{{task.task.pk}}" aria-expanded="false" aria-controls="collapse-delete{{task.task.pk}}">
                  Delete task
                </a>
            </div>

            <div id="collapse-delete{{task.task.pk}}" class="collapse hide" role="tabpanel" aria-labelledby="task-delete{{task.task.pk}}">
              <div class="card-body delete" >
                <form action="{% url 'delete_task' story.pk task.task.pk %}" method="post">
                  {% csrf_token %}
                  <div>
                    <input type="submit" value="Delete task" />
                  </div>
                </form>
              </div>
            </div>
          </div>

          <hr />
    <!--time lines list-->
          <form method="post" action="{% url 'update_lines' story.pk task.task.pk %}">
              {% csrf_token %}
            {{ task.line_set.management_form }}
              {% for form in task.line_set %}
                <div>{{ form }}</div>
            {% endfor %}
            <input type="submit" value="Save changes" />
        </form>

      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block scripts%} 
{% if task_pk %}
<!--script to expand the linked task-->
<script type="text/javascript" class="init">
    window.location.hash = '#collapse{{task_pk}}';
</script>
{% endif %}
{% endblock %}
