{% extends 'tracker_app/base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header" role="tab" id="add_story">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div width="100%">
            <h5 class="mb-0">Add Story</h5>
          </div>
        </a>
    </div>

    <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="add_story">
      <div class="card-body">
        <form action="{% url 'add_story' %}" method="post" class="aligned_form">
            {% csrf_token %}
            <ul>
              {{ story_form.as_ul }}
            </ul>
            <input type="submit" value="Add Story" />
        </form>
      </div>
    </div>
  </div>

{% include "tracker_app/sortable_list.html" with table=stories_list header=stories_header link_base="/story/"%}

{% endblock %}

{% block scripts%} {% include "tracker_app/sortable_list_script.html" %} {% endblock %}