.aligned_form label {
    width: 8em;
    margin-left: -8em;
    float: left;
}

.aligned_form input, .aligned_form textarea {
    width: 100%;
}

.aligned_form li {
    padding-left: 8em;
    list-style-type: none;
}

.alert {
    list-style-type: none;
}

.delete {
    background-color: #f2dede;
}

.delete-card {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

#messages {
    position: fixed;
    z-index: 5000;
}